.contact {
  background: #001232;
  position: relative;

  &-container {
    width: 100%;
    display: flex;
    justify-content: right;

    &-left {
      width: 40%;
      padding-bottom: 100px;
      box-shadow: 12px 12px 29.4px 0.6px #000;
    }

    &-right {
      width: 50%;
      background-image: url(https://dmitryvolkov.me/demo/flixtv/main/img/bg.jpg);
      color: #fff;
      position: relative;

      &-info {
        background-color: #001232;
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 40px;
        position: absolute;
        bottom: 80px;

        &-phone {
          width: 50%;
          border-right: 1px #33415b solid;

          &-content {
            display: flex;
            flex-direction: column;
          }
        }

        &-email {
          width: 50%;

          &-content {
            display: flex;
            flex-direction: column;
          }
        }

        span {
          color: #31d7a9;
        }
      }
    }
  }

  &-maintitle {
    color: #31b8d7;
    padding-bottom: 12px;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
  }

  &-form {
    width: 100%;

    color: #fff;

    &__input {
      width: 100%;
      border: 1px solid #12387e;
      outline: none;
      background-color: transparent;
      color: #fff;
      border-radius: 8px;
      font-size: 16px;
      height: 60px;
      padding: 20px;
    }

    &-border {
      margin: auto;
      border-bottom: 2px rgba(11, 7, 66, 0.5) solid;
      padding: 10px 0px;
      width: 80%;
    }
  }

  &-label {
    padding: 8px;

    &-title {
      padding: 8px;
      margin: auto;
      width: 80%;
      font-size: 20px;
    }
  }

  &-btn {
    text-align: center;

    &-submit {
      margin: 20px;
      padding: 20px;
      background-image: -webkit-linear-gradient(169deg,
          #5560ff 17%,
          #aa52a1 63%,
          #ff4343 100%);
      border-radius: 30px;
      width: 50%;
    }
  }
}