.home {
  background-color: #001232;
  width: 100%;
  &-banner {
    z-index: 4;
  }
  &-snapbook {
    height: 116px;
    width: 100%;
    vertical-align: auto;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    .container{
      width: 75%;
      margin: auto;
      display: flex;
      &-title{
        h2{
          font-family: 'Futurab';
          font-weight: normal;
          font-size: 36px;
          color: #e00d7a;
          line-height: 50px;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: middle;
          text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
          text-align: left;
          font-weight: 800;
        }
      }
      .wrap{
        color: #000 !important;
        padding: 10px;
        text-align: center;
      }
    }

    background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/pattern.png");
    select,input {
      background-image: -webkit-linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
      );
      margin: 0px 30px;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      color: #000;
      text-transform: uppercase;
    }
  }

  &-grid {
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    color: #fff;

    &-content {
      width: 100%;
      background-color: #032055;
      margin: auto;
      text-align: center;
      text-transform: uppercase;
      justify-content: space-between;
      &-title{
        font-family: 'Futurab';
        font-weight: normal;
        font-size: 36px;
        color: #e00d7a;
        line-height: 50px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
        text-align: left;
        font-weight: 600;
        padding: 20px;
        border-bottom: 2px rgba(11, 7, 66, 0.5) solid;
      }
      .container{
        width: 80%;
      }

      &-image {
        width: 60%;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background-color: #032055;
        position: relative;
        margin: 20px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        overflow: hidden;
        img {
          padding-bottom: 20px;
          width: 70%;
          margin: auto;
          height: 400px;
          z-index: 0;
        }
        span {
          padding: 10px;
        }
        &-hover {
          position: absolute;
          bottom: 20%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #fff;
          display: none;
          width: 50%;
          margin: auto;
          z-index: 2;
          left: 0px;
          right: 0px;
          font-weight: 500;
          &-detail {
            border: 1px red solid;
            border-radius: 20px;
            padding: 8px;
            width: 100%;
          }
          &-detail:hover {
            background-image: -webkit-linear-gradient(
              169deg,
              #5560ff 17%,
              #aa52a1 63%,
              #ff4343 100%
            );
            opacity: 0.8;
          }

          &-booking {
            border: 1px red solid;
            border-radius: 20px;
            padding: 8px;
            width: 100%;
          }
          &-booking:hover {
            background-image: -webkit-linear-gradient(
              169deg,
              #5560ff 17%,
              #aa52a1 63%,
              #ff4343 100%
            );
            opacity: 0.8;
          }
          &-info {
            display: flex;
            flex-direction: column;
            font-size: 12px;
          }
        }
        &-background {
          position: absolute;
          bottom: 0px;
          background-color: rgb(10, 30, 94);
          opacity: 0.6;
          height: 70%;
          width: 100%;
          display: none;
          z-index: 1;
        }
        &:hover {
          color: rgb(10, 30, 94);
          transform: scale(1.04);
          transition: transform 0.5s, filter 1.5s step-end;
          cursor: pointer;
        }
        &:hover &-hover {
          display: block;
          animation: down-to-up 1s ease-in-out;
        }
        &:hover &-background {
          display: block;
          animation: down-to-up 1s ease-in-out;
        }
      }
    }
  }

  &-banner {
    width: 100%;
    &-img {
      img {
        width: 100%;
      }
    }
  }
}

@keyframes down-to-up {
  0% {
    transform: translateY(100%);
  }
}
