.movieDetail {
  width: 100%;
  color: #fff;
  position: relative;
  background-color: #032055;
  height: fit-content;

  &__comment {
    width: 60%;
    margin: auto;
    padding: 20px 0px;
    &-title {
      font-size: 30px;
      border-bottom: 3px solid black;
    }
    &-content {
      padding: 10px 0px;
      
    }
  }

  &-background {
    top: 0px;
    width: 100%;
    background-color: #001232;
    background-image: url("https://dmitryvolkov.me/demo/flixgo2.0/main/img/home/home__bg.jpg");
    position: absolute;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
  }
  &-name {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
  }
  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 32px;
    z-index: 2;
    height: fit-content;

    &-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      &-img {
        padding: 0px 20px;
      }
      &-right {
        justify-content: center;
        font-size: 14px;
        &-warn {
          display: flex;
          flex-direction: row;
          &-kind {
            padding: 2px 10px;
            width: fit-content;
            border: 1px solid rgba(255, 255, 255, 0.16);
            margin-right: 20px;
            text-align: center;
          }
          &-age {
            padding: 2px 10px;
            width: fit-content;
            border: 1px solid rgba(255, 255, 255, 0.16);
          }
        }
        &-duration,
        &-actor,
        &-category,
        &-origin,
        &-time {
          padding: 10px;
        }

        &-btn:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 29.4px 0.6px #000;
        }
      }
      &-left {
        justify-content: center;
      }
    }
    &-ver2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      &-button {
        width: 20%;
        text-align: center;
        &-btn {
          background-image: -webkit-linear-gradient(
            169deg,
            #5560ff 17%,
            #aa52a1 63%,
            #ff4343 100%
          );
          font-size: 20px;
          width: fit-content;
          padding: 20px 48px;
          border-radius: 32px;
          justify-content: end;
          color: #fff;
        }
      }
      &-description {
        padding: 20px;
        span {
          font-size: 24px;
        }
      }
    }
    &-time {
      width: 100%;
      background-color: #032055;
      height: fit-content;
      z-index: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &-label {
        width: 30%;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        color: #31b8d7;
      }
      .calender {
        width: 30%;
        padding: 16px;
        text-align: center;
        input {
          width: 60%;
          border-radius: 20px;
          text-align: center;
        }
      }
      .list {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
      }
      .booking {
        width: 30%;
        color: red;
        text-align: center;
      }
      &-listtime {
        width: 60px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin: 10px;
        justify-content: center;
      }
      &-listtime:hover {
        background-image: -webkit-linear-gradient(
          169deg,
          #5560ff 17%,
          #aa52a1 63%,
          #ff4343 100%
        );
        cursor: pointer;
        color: #000;
      }
    }
  }
  &-comment {
    width: 100%;
    background-color: #001232;
    z-index: 3;
    margin: auto;
    position: relative;
    &-form {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;

      &-uncomment{
        margin-top: 30px;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }

      &-label {
        width: 100%;
        font-size: 30px;
        padding: 20px;
      }
      &-input {
        padding: 20px;
        width: 100%;
        border-radius: 40px;
        color: #000
      }
      &-btn {
        width: 60%;
        justify-content: flex-end;

        button {
          width: 100px;
          text-align: center;
          background-image: -webkit-linear-gradient(
            169deg,
            #5560ff 17%,
            #aa52a1 63%,
            #ff4343 100%
          );
          border-radius: 30px;
          padding: 12px;
          margin: 10px;
        }
      }
    }
  }
}
