.seatplan {
  width: 100%;
  background-color: #001232;
  color: #fff;


  &-title {
    width: 100%;
    padding: 20px;
    height: fit-content;
    background-color: #032055;
    border: 1px solid #032055;
    display: flex;
    flex-direction: row;

    &-label {
      width: 33%;
      height: 100px;
      font-size: 20px;
      text-align: center;
      padding-top: 10px;
    }
  }

  &-content {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;

    &-screen {
      text-align: center;
      padding: 40px;
      height: fit-content;

      &-seatP {
        margin: auto;
        width: fit-content;
      }

      &__img {
        display: block;
        margin: auto;
      }

      .column-parent {
        display: flex;

        .column-child {
          width: 60px;
        }

        .column {
          display: flex;
          width: fit-content;

          &-count {
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 30px;
          }
        }
      }

      &-col {
        width: 60px;
        padding-top: 75px;
        height: fit-content;

        .col {
          padding: 26px 20px;
          width: 40px;
          height: 40px;
          margin-top: 8px;
        }
      }

      h2 {
        padding: 20px;
      }

      .seatwrap {
        display: flex;
        flex-direction: row;
        width: fit-content;
      }

      &-seat {
        padding-top: 80px;
        display: flex;
        flex-wrap: wrap;

        &-single {
          width: 600px;
          height: 40px;
          margin: 12px;
          justify-content: space-between;
          display: flex;
          flex-wrap: wrap;

          &_vip {
            width: 60px;
            height: 60px;
            position: relative;

            .checkbackground {
              display: block;
              top: 0px;
              left: 0px;
              background-image: url("http://pixner.net/boleto/demo/assets/images/movie/seat01-booked.png");
              width: 40px;
              height: 40px;
              z-index: 1;
              margin-top: 8px;
              padding: 6px;
            }

            .checkbackground__checked {
              display: block;
              top: 0px;
              left: 0px;
              background-image: url("http://pixner.net/boleto/demo/assets/images/movie/seat01-free.png");
              width: 40px;
              height: 40px;
              z-index: 1;
              margin-top: 8px;
              padding: 4px;
            }

            .checkseat {
              width: 40px;
              height: 40px;
              left: 0px;
              top: 10px;
              position: absolute;
              opacity: 0;
              z-index: 3;
              cursor: pointer;
            }

            .checkseat:checked {
              opacity: 0.5;

            }
          }

          &_check {
            width: 60px;
            height: 60px;
            position: relative;

            .checkbackground {
              display: block;
              top: 0px;
              left: 0px;
              background-image: url("http://pixner.net/boleto/demo/assets/images/movie/seat01.png");
              width: 40px;
              height: 40px;
              z-index: 1;
              margin-top: 8px;
              padding: 4px;
            }

            .checkbackground__checked {
              display: block;
              top: 0px;
              left: 0px;
              background-image: url("http://pixner.net/boleto/demo/assets/images/movie/seat01-free.png");
              width: 40px;
              height: 40px;
              z-index: 1;
              margin-top: 8px;
              padding: 4px;
            }

            .checkseat {
              width: 40px;
              height: 40px;
              left: 0px;
              top: 10px;
              position: absolute;
              opacity: 0;
              z-index: 3;
              cursor: pointer;
            }

            .checkseat:checked {
              opacity: 0.5;

            }
          }
        }
      }
    }
  }

  &-proceed {
    margin: auto;
    width: 100%;

    .container {
      width: 80%;
      padding-bottom: 16px;
      display: flex;
      flex-direction: row;
    }

    background-color: #032055;

    &-seat,
    &-price {
      padding: 40px;
      margin: auto;
      text-align: center;
    }

    &-btn {
      margin: auto;
      text-align: center;

      button {
        background-image: -webkit-linear-gradient(169deg,
            #5560ff 17%,
            #aa52a1 63%,
            #ff4343 100%);
        padding: 20px;
        border-radius: 100px;
      }
    }
  }
}

.container {
  width: 60%;
  margin: auto;

  .list-seat {
    display: flex;
    margin: auto;
    padding: 20px;

    &-tutor {
      padding: 12px;
      margin: auto;
    }

    img {
      width: fit-content;
      padding: 0 20px;
    }
  }
}