.userprofile {
  background-color: #001232;
  width: 100%;
  height: fit-content;

  &-header {
    width: 100%;
    background-color: #032055;
    color: white;

    .container {
      display: flex;
      flex-direction: row;
      vertical-align: middle;
    }

    &-icon {
      height: 80px;

      img {
        margin: auto;
        border-radius: 40px;
        padding: 15px;
      }
    }

    &-name {
      padding: 28px;
    }

    &-btn {
      button {
        background-image: -webkit-linear-gradient(169deg,
            #5560ff 17%,
            #aa52a1 63%,
            #ff4343 100%);
        text-align: center;
        font-size: 20px;
        width: fit-content;
        padding: 12px 32px;
        border-radius: 32px;
        color: #000;
      }
    }
  }

  &-detail {
    padding: 20px;


    .container {
      color: #fff;
      justify-content: space-between;

    }

    &-security {
      background-color: #032055;
      border-radius: 32px;
      padding: 10px;

      form {

        .modify-label {
          font-size: 32px;
          text-align: center;
          color: #31d7a9;
          border-bottom: 1px solid red;
          padding: 4px;
          text-transform: uppercase;

          &-name {
            padding: 8px;
            width: 80%;
            margin: auto;

          }

        }

        .modify-form-border {
          margin: auto;
          border-bottom: 2px rgba(11, 7, 66, 0.5) solid;
          padding: 4px 0px;
          width: 80%;
        }

        input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          color: #fff;
          padding: 4px;
        }

        button {
          background-image: -webkit-linear-gradient(169deg,
              #5560ff 17%,
              #aa52a1 63%,
              #ff4343 100%);
          font-size: 20px;
          width: fit-content;
          padding: 12px 32px;
          border-radius: 32px;
          color: #000;
          margin: 4px;

        }
      }

    }

    &-info {
      background-color: #032055;
      border-radius: 32px;
      padding: 10px;

      &-label {
        font-size: 32px;
        padding: 4px;
        text-align: center;
        text-transform: uppercase;
        color: #31d7a9;
        border-bottom: 1px solid red;
      }

      ul {
        list-style: none;

        li {
          padding: 10px;
        }
      }
    }



  }
}